@import '../../vars';
@import '../../mixins';

$bp-1: 1310px;
$bp-2: 910px;
$bp-3: 400px;

.bag {
    display: flex;
    flex-direction: column;

    padding-top: $header-height + 2rem;
    padding-bottom: 2rem;

    min-height: 100vh;

    &-bg {
        background-image: url('../../images/bag/bag-bg.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    &-title {
        display: flex;
        font-size: 2.4rem;

        color: $dark-color;

        &-price {
            font-family: Alatsi, sans-serif;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // position: relative;

        @include bp($bp-2) {
            flex-direction: column-reverse;
        }

        &-title {
            display: flex;
            align-items: center;
            position: relative;

            font-size: 3.6rem;

            color: $dark-color;

            &-icon {
                margin-right: 1rem;
            }

            &::after {
                content: "";
                display: none;
                position: absolute;
                top: calc(100% - 3px);
                left: 0;

                width: 100%;
                height: 3px;

                background-color: $dark-color;
            }

            &-clickable {
                cursor: pointer;

                &:hover::after {
                    display: inline-block;
                }
            }

            &-underline {
                &::after {
                    display: inline-block;
                }
            }
        }

        &-address {
            @include bp($bp-2) {
                text-align: center;
            }
        }

        &-search {
            display: flex;
            justify-self: center;

            // margin-left: auto;

            @include bp($bp-2) {
                margin-top: 2rem;
            }

            @include bp($bp-2) {
                &>.bag-header-title {
                    display: flex;
                    flex-direction: column;

                    &>.bag-header-title {
                        font-size: 2.4rem;
                    }

                    &>.bag-header-address {
                        font-size: 3.2rem;
                    }
                }
            }

            &-edit {
                display: flex;
                flex-direction: column;

                padding: 1.5rem;

                border-radius: 1.5rem;

                color: $text-color;
                background-color: $sec-bg-color;

                box-shadow: 0px 10px 10px rgba(#000, 15%);

                &-overlay {
                    position: fixed;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100vh;

                    padding-top: $header-height + 2rem;

                    background-color: rgba($dark-color, 75%);

                    z-index: 40;
                }

                &-span {
                    font-size: 1.8rem;
                    margin-top: 1rem;
                }
            }

            &-form {
                display: flex;
                align-items: center;

                &>&-title {
                    font-size: 2.4rem;

                    color: $sec-text-color;

                    margin-left: 2rem;
                    padding-right: 1rem;

                    &:first-child {
                        margin-left: 0;
                    }
                }

                &-controls {
                    margin-left: auto;

                    &>.btn {
                        margin-right: 1rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            &-inputs {
                position: relative;
            }

            &-input {
                padding: 1rem;
                text-decoration-line: none;

                &-address {
                    width: 36rem;
                }

                &-house,
                &-flat {
                    width: 10rem;
                }
            }

            &-results {
                position: absolute;
                top: 100%;
                left: 0;

                max-height: 20.8rem;
                overflow: auto;

                background-color: $dark-color;
                color: $text-color;

                border-radius: 1.5rem;

                &-items {
                    display: flex;
                    flex-direction: column;
                }

                &-item {
                    min-width: 28rem;

                    font-size: 2.4rem;
                    padding: 1rem 1.5rem;

                    cursor: pointer;

                    &:hover,
                    &:focus {
                        background-color: $sec-text-color;
                    }
                }
            }
        }
    }

    &-body {
        @include bp($bp-2) {
            max-width: 45.5rem;
            width: 100%;

            margin: 0 auto;
        }
    }

    &-items {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;

        row-gap: 10rem;

        margin-top: 6rem;
    }

    &-item {
        // max-width: 38rem;
        width: 33.33333%;
        display: flex;

        color: $dark-color;

        @include bp($bp-1) {
            width: 50%;
            justify-content: center;
        }

        @include bp($bp-2) {
            width: 100%;
        }

        @include bp($bp-3) {
            max-width: 24rem;
            display: flex;
            flex-direction: column;

            margin: 0 auto;
        }

        &-photo {
            max-width: 15.5rem;
            width: 100%;
            height: 15.5rem;

            border-radius: .6rem;
            overflow: hidden;

            @include bp($bp-3) {
                max-width: 24rem;
                height: 24rem;
                margin: 0 auto;
            }

            &-placeholder {
                border: 1px solid $border-color;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: calc(100% - 15.5rem);

            font-size: 2.4rem;

            padding-left: 2.5rem;
            padding-right: 2.5rem;

            @include bp($bp-2) {
                padding-left: 2.5rem;
                padding-right: 0;
            }

            @include bp($bp-3) {
                width: 100%;
                padding-left: 0;
            }

            &-title {
                word-wrap: break-word;
                color: $text-color;

                @include bp($bp-3) {
                    margin-top: 2rem;
                }
            }

            &-controls {
                display: flex;
                border-radius: 1rem;

                margin-top: 1rem;

                background-color: $sec-bg-color;

                &-disabled {
                    opacity: 0.5;
                }

                &-btn {
                    width: 2.6rem;
                    text-align: center;
                    line-height: 0.4;

                    cursor: pointer;

                    @include bp($bp-2) {
                        width: 5rem;
                    }
                }

                &-factor {
                    width: 4rem;
                    text-align: center;
                    line-height: 1.4;

                    border: 1px solid $border-color;
                    border-top: none;
                    border-bottom: none;
                }
            }

            &-price {
                margin-top: auto;

                @include bp($bp-2) {
                    &>.price-title {
                        display: none;
                    }
                }

                @include bp($bp-3) {
                    margin-top: 3rem;
                }
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        margin-top: auto;
        padding-top: 5rem;

        &-title {
            @include bp($bp-2) {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }

        &-btn {
            font-size: 3.2rem;
            border-radius: 1rem;
            margin-top: 1.2rem;
        }
    }
}