@import '../../vars';
@import '../../mixins';

.header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;

    width: 100%;
    height: $header-height;

    box-shadow: 0px 10px 10px rgba(#000, 15%);

    background-color: $sec-bg-color;

    z-index: $header-z-index;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;

        &-left-side,
        &-right-side {
            display: flex;
            align-items: center;

            width: 35%;

            @include bp($bp-header-1) {
                width: 4.4rem;
            }
        }

        &-left-side {
            @include bp($bp-header-1) {
                width: 4.4rem;
            }
        }

        &-right-side {
            justify-content: flex-end;
        }

        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;

            @include bp($bp-header-1) {
                width: calc(100% - 8.8rem);
            }

            &-desktop {
                display: block;

                @include bp($bp-header-2) {
                    display: none;
                }
            }

            &-mobile {
                display: none;

                @include bp($bp-header-2) {
                    display: block;
                }
            }
        }
    }

    &-link {
        @include bp($bp-header-1) {
            padding: 1rem 0;
        }
        &-wrapper {
            width: $header-link-width;
            height: $header-link-height;

            display: flex;
            align-items: center;
            justify-content: center;

            @include bp($bp-header-1) {
                width: auto;
                height: auto;

                display: block;
            }
        }
    }

    /* Header Menu */

    &-menu {
        max-width: 40rem;
        width: 100%;

        overflow: auto;

        background-color: $sec-bg-color;
        transform: translateX(40rem);

        transition: transform .2s ease;

        @include bp($bp-header-3) {
            max-width: 100%;
        }

        &-inner {
            padding: 3rem 2rem;
        }

        &-overlay {
            position: fixed;
            bottom: 0;
            left: 0;

            display: none;
            justify-content: flex-end;
            overflow: hidden;

            width: 100%;
            height: calc(100vh - $header-height);

            visibility: hidden;
            opacity: 0;

            background-color: rgba($dark-color, 75%);

            z-index: $header-menu-z-index;

            transition-property: visibility, opacity;
            transition-duration: 200ms;
            transition-timing-function: ease;

            @include bp($bp-header-1) {
                display: flex;
            }

            &-open {
                visibility: visible;
                opacity: 1;

                .header-menu {
                    transform: translateX(0);
                }
            }
        }
    }
}

.active {
    display: none !important;
}