@import '../../../../vars';
@import '../../../../mixins';

.header {
    &User {
        display: flex;
        align-items: center;
        position: relative;

        font-size: 2.4rem;
        font-weight: 400;

        color: $sec-text-color;

        cursor: pointer;

        @include bp($bp-header-1) {
            width: 100%;
            margin-top: 3rem;
            cursor: auto;
        }

        &Logo {
            width: 5.5rem;
            height: 5.5rem;

            @include bp($bp-header-1) {
                display: none;
            }
        }

        &Name,
        &Label {
            &Placeholder {
                display: block;

                width: 10rem;
                height: 2.4rem;

                background-color: $sec-text-color;
            }
        }

        &Name {
            padding-left: 1.2rem;

            @include bp($bp-header-1) {
                display: none;
                padding-left: 0;
            }
        }

        &Label {
            display: none;

            @include bp($bp-header-1) {
                display: block;
            }
        }

        &Menu {
            position: fixed;
            top: $header-height;
            color: $text-color;

            min-width: 15rem;

            display: none;
            flex-direction: column;
            align-items: stretch;

            font-size: 2.4rem;

            overflow: hidden;

            border-radius: 0 0 1rem 1rem;

            background-color: $dark-color;

            @include bp($bp-header-1) {
                display: flex;
                position: static;
                width: 100%;

                color: $sec-text-color;

                border-radius: 0;
                background-color: transparent;
            }

            &Open {
                display: flex;
            }

            &Btn {
                display: flex;
                width: 100%;
                
                padding: 0.5rem 1rem;
                padding-right: 3rem;

                cursor: pointer;

                @include bp($bp-header-1) {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 3rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &:hover {
                    background-color: rgba(#fff, 5%);

                    @include bp($bp-header-1) {
                        background-color: transparent
                    }
                }

                &Name {
                    display: none;

                    @include bp($bp-header-1) {
                        display: block;
                    }
                }
            }
        }
    }
}