@import '../../../../vars';
@import '../../../../mixins';

.header {
    &Back {
        margin-right: 4.5rem;

        @include bp($bp-header-1) {
            margin-right: 0;
        }

        &Btn {
            cursor: pointer;
            display: block;
            width: 4.4rem;
            height: 4.4rem;

            margin: auto 0;

            background-image: url(../../../../images/header/back.svg);
            background-repeat: no-repeat;
            background-position: center;

            border: 2px solid #061617;
            border-radius: 50%;

            font-size: 0;
        }
    }
} 