@import '../../vars';
@import '../../mixins';

$photo-width: 23rem;
$photo-height: $photo-width;

$products-width: 73rem;
$products-padding: 1rem;

$bp-1: 1060px;

.products {
    display: flex;
    padding-top: $header-height;

    &.sideLeft {
        justify-content: flex-end;
    }

    &-items {
        max-width: $products-width;
        padding: 0 $products-padding;
        width: 100%;

        padding-bottom: 3rem;

        @include bp($bp-1) {
            max-width: 100%;
        }

        &-head {
            &-title {
                text-align: center;
            }
        }

        &-body {
            margin-top: 4rem;
        }
    }

    &-item {
        display: flex;
        align-items: flex-start;

        max-width: $products-width;
        width: 100%;

        margin-bottom: 1.5rem;

        @include bp($bp-1) {
            flex-direction: column;

            margin: 0 auto;
            margin-top: 5rem;

            justify-content: center;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-body {
            display: flex;
        }

        &-side {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &-photo {
            display: flex;
            flex-direction: column;

            width: $photo-width;
            height: $photo-height;

            background-color: $dark-color;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-btn {
            margin-top: 1.5rem;
            box-shadow: 6px 6px 10px rgba(#000, 0.25);

            @include bp($bp-1) {
                display: none;
            }

            &-response {
                @include bp($bp-1) {
                    display: block;

                    max-width: 30rem;
                    width: 100%;

                    font-size: 2.4rem;
                    padding: 1rem 0;

                    margin-top: 2rem;
                }
            }
        }

        &-info {
            max-width: 50rem;
            width: 100%;
            padding-left: 2rem;
        }

        &-title {
            font-size: 4rem;
            line-height: 1;
            text-decoration: underline;
        }

        &-sub {
            font-size: 2.4rem;
        }

        &-description {
            font-size: 1.8rem;
        }

        &-bottom {
            display: none;
            width: 100%;

            @include bp($bp-1) {
                display: flex;
                justify-content: c;
            }
        }
    }

    &-sidebar {
        width: 100%;
        height: 100%;

        position: fixed;
        top: 0;
        right: 0;

        overflow: hidden;

        z-index: -1;

        @include bp($bp-1) {
            display: none;
        }

        &-photo {
            width: 100%;
            padding-top: $header-height;
            padding-left: $products-width;

            &-wrapper {
                background-color: $dark-color;
                min-height: 100vh;
            }

            &.sideLeft {
                padding-left: 0;
                padding-right: $products-width;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}