@import '../../vars';
@import '../../mixins';

$photo-width: 23rem;
$photo-height: $photo-width;

$products-width: 73rem;
$products-padding: 1rem;

$bp-1: 1060px;
$bp-2: 575px;
$bp-3: 320px;

.products {
    display: flex;
    padding-top: $header-height;

    &.sideLeft {
        justify-content: flex-end;
    }

    &-items {
        max-width: $products-width;
        width: 100%;

        padding: 0 $products-padding;
        padding-bottom: 3rem;

        @include bp($bp-1) {
            max-width: 100%;
        }

        &-head {
            &-title {
                text-align: center;
            }
        }

        &-body {
            margin-top: 4rem;
        }
    }

    &-item {
        display: flex;
        align-items: flex-start;

        max-width: $products-width;
        width: 100%;

        margin-bottom: 1.5rem;

        @include bp($bp-1) {
            flex-direction: column;

            margin: 0 auto;
            margin-top: 5rem;

            justify-content: center;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-body {
            display: flex;
            width: 100%;

            @include bp($bp-2) {
                max-width: 30rem;
                margin: 0 auto;
                flex-direction: column;
            }
        }

        &-side {
            display: flex;
            align-items: center;
            flex-direction: column;

            &-bottom {
                margin-top: 1.5rem;
                @include bp($bp-1) {
                    display: none;
                }
            }
        }

        &-photo {
            display: flex;
            flex-direction: column;

            width: $photo-width;
            height: $photo-height;

            background-color: $dark-color;

            @include bp($bp-2) {
                max-width: 30rem;
                width: 100%;
                height: 30rem;
            }

            @include bp($bp-3) {
                height: calc(100vw - 2rem);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-btn {
            box-shadow: 6px 6px 10px rgba(#000, 0.25);

            @include bp($bp-1) {
                max-width: 30rem;
                width: 100%;
                padding: 0.5rem 4rem;
            }
        }

        &-info {
            max-width: 50rem;
            width: 100%;
            padding-left: 2rem;

            @include bp($bp-1) {
                max-width: 100%;
            }

            @include bp($bp-2) {
                margin-top: 2rem;
                padding-left: 0;
            }
        }

        &-title {
            font-size: 4rem;
            line-height: 1;
            text-decoration: underline;
            word-break: break-word;

            @include bp($bp-2) {
                font-size: 3.6rem;
            }
        }

        &-sub {
            font-size: 2.4rem;
        }

        &-description {
            display: none;
            font-size: 1.8rem;
            margin-top: 0.5rem;

            &-show {
                display: block;
            }

            @include bp($bp-1) {
                margin-top: 1rem;
            }

            &-btn {
                display: block;
                font-size: 1.8rem;
                margin-top: 1rem;

                text-decoration: underline;
                cursor: pointer;

                // @include bp($bp-1) {
                //     display: block;
                // }
            }

            & > p {
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-bottom {
            display: none;
            width: 100%;

            margin-top: 3rem;

            @include bp($bp-1) {
                display: flex;
            }
        }
    }

    &-sidebar {
        width: 100%;
        height: 100%;

        position: fixed;
        top: 0;
        right: 0;

        overflow: hidden;

        z-index: -1;

        @include bp($bp-1) {
            display: none;
        }

        &-photo {
            width: 100%;
            padding-top: $header-height;
            padding-left: $products-width;

            &-wrapper {
                background-color: $dark-color;
                min-height: 100vh;
            }

            &.sideLeft {
                padding-left: 0;
                padding-right: $products-width;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}