@import './vars';

html {
    font-size: 62.5%;
}

body {
    background-color: $bg-color;
    color: $text-color;

    font-family: 'Alegreya', serif;
}

.container {
    max-width: 146rem;
    width: 100%;

    margin: 0 auto;
    padding: 0 1rem;
}

.hide {
    display: none !important;
}

.title {
    font-size: 3.6rem;
}

.btn {
    font-size: 2rem;
    padding: 0 4rem;

    text-align: center;

    border-radius: .6rem;

    background-color: $dark-color;

    cursor: pointer;
}