@import './vars';

html {
    font-size: 62.5%;
}

body {
    background-color: $bg-color;
    color: $text-color;

    font-family: 'Alegreya', serif;
    
    padding-top: $header-height;
}

.container {
    max-width: 146rem;
    width: 100%;

    margin: 0 auto;
    padding: 0 1rem;
}

.hide {
    display: none !important;
}

.title {
    font-size: 3.6rem;
}