@import './vars';

html {
    font-size: 62.5%;
}

body {
    background-color: $bg-color;
    color: $text-color;

    font-family: 'Alegreya', serif;
}

hr {
    width: 100%;
    height: 5px;

    background-color: #ffffff2a;
}

.container {
    max-width: 146rem;
    width: 100%;

    margin: 0 auto;
    padding: 0 1rem;

    &-nopadding {
        max-width: 144rem;
        padding: 0;
    }
}

.hide {
    display: none !important;
}

.title {
    font-size: 3.6rem;
}

.btn {
    font-size: 2rem;
    padding: 0 4rem;

    text-align: center;

    border-radius: .6rem;

    background-color: $dark-color;

    cursor: pointer;

    &:disabled {
        opacity: 0.5;
    }
}

.title {
    font-size: 6.4rem;
    font-weight: 400;
    text-shadow: 0 10px 4px rgba(#000, 0.25);
}

.input {
    font-size: 2.4rem;

    padding: 1rem 3rem;

    border: 5px solid rgba($border-color, 25%);
    border-radius: 1.5rem;
}